{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/home/home.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center flex-column">

        <button type="button" class="btn btn-primary m-2" style="float: right">
            <a href="{% url 'home' %}" class="link">Go back home</a>
        </button>
        
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Domain of Interest</th>
                <th scope="col">Description</th>
                <th scope="col">Personal Projects</th>
                <th scope="col">Skills</th>
            </tr>
            </thead>

            <tbody>
            {% for student in students_list %}
                <tr>
                    <td>{{ student.user.email }}</td>
                    <td>{{ student.user.name }}</td>
                    <td>{{ student.get_domain_type_label }}</td>
                    <td>{{ student.user.description }}</td>
                    <td>{{ student.personal_projects }}</td>
                    <td>{{ student.skills }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}