{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/home/home.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center flex-column">

        <div class="d-flex">
            <button type="button" class="btn btn-primary m-2" style="float: right">
                <a href="{% url 'home' %}" class="link">Go back</a>
            </button>
        </div>
        <h2 class="title-center">Lista Internship</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Role</th>
                <th scope="col">Description</th>
                <th scope="col">Date posted</th>
                <th scope="col">Apply</th>
            </tr>
            </thead>

            <tbody>
            {% for internship, applied in internships_list %}
                <tr>
                    <td>{{ internship.role_name }}</td>
                    <td>{{ internship.description }}</td>
                    <td>{{ internship.date_posted }}</td>
                    <td>
                        {% if applied == True %}
                            <button disabled type="button" class="btn btn-primary m-2" style="float: right">
                                <a href="{% url 'internship-apply' internship.id user.student.id %}"
                                   class="link">Apply</a>
                            </button>
                        {% else %}
                            <button  type="button" class="btn btn-primary m-2" style="float: right">
                                <a href="{% url 'internship-apply' internship.id user.student.id %}"
                                   class="link">Apply</a>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}