{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/details/main.css' %}">
{% endblock stylesheet %}

{% block head_title %}
    Creare cont companie
{% endblock head_title %}

{% block content %}
    {% load widget_tweaks %}

    <div class="container">
        <h2 class="title-center">Creare Cont Companie</h2>

        <form class="form-container" method="post" action="">
            {% csrf_token %}
            <div class="profile-container company-banner">
                <div class="img-container">
                    <h4>C</h4>
                </div>
            </div>

            <div class="details-container">
                <div class="field-group">
                    <p>Toate câmpurile sunt obligatorii. </p>
                    <label class="details-title display-info">Nume</label>
                    {% render_field form.name type="text" class="form-input" %}
                </div>

                <div class="field-group">
                    <label class="details-title display-info">Parolă</label>
                    {% render_field form.password type="password" class="form-input" %}
                </div>

                <div class="field-group">
                    <label class="details-title display-info">Confirmă parola</label>
                    {% render_field form.confirm_password type="password" class="form-input" %}
                </div>

                <div class="field-group">
                    <label class="details-title display-info">Descriere</label>
                    {% render_field form.description type="text" class="form-input form-textarea" %}
                </div>

                <div class="field-group">
                    <label class="details-title display-info">Domeniu</label>
                    {% render_field form.domain class="form-input form-select" %}
                </div>

                <div class="field-group">
                    <label class="details-title display-info">Locatie</label>
                    {% render_field form.location class="form-input" %}
                </div>

                <br>
                <p class="form-title">Date de contact</p>

                <div class="contact-group">
                    <div class="field-group">
                        <label class="details-title display-info">Persoană contact</label>
                        {% render_field form.contact_person class="form-input" %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Email</label>
                        {% render_field form.email type="email" class="form-input" %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Telefon</label>
                        {% render_field form.phone type="text" class="form-input" %}
                    </div>
                    <br>

                    <input type="submit" name="submit" value="Submit" class="submit-btn">
                    <br>
                </div>

            </div>
        </form>

        <!-- background decorations -->

    </div>

{% endblock content %}
