{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/home/home.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center flex-column">

        Welcome to Giobbo
        {% if user.is_authenticated %}
            {% if user.is_student %}
                <p>Hi, {{ user.name }}!!!</p>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary m-2">
                        <a href="companies" class="link">See the available companies</a>
                    </button>

                    <button type="button" class="btn btn-primary m-2">
                        <a href="internships" class="link">See the available internships</a>
                    </button>
                </div>
            {% else %}
                <p>Hi, {{ user.name }}! {{ user.company.contact_person }}</p>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary m-2">
                        <a href="students" class="link">Find your next employee</a>
                    </button>

                    <button type="button" class="btn btn-primary m-2">
                        <a href="{% url 'manage-company' user.company.id %}" class="link">Manage company internships</a>
                    </button>

                    <button type="button" class="btn btn-primary m-2">
                        <a href="{% url 'edit-company' user.company.id %}" class="link">Edit company details</a>
                    </button>
                </div>

            {% endif %}
            <button type="button" class="btn btn-secondary m-2">
                <a href="{% url 'logout' %}" class="link">Log Out</a>
            </button>
        {% else %}
            <div class="d-flex">
                <button type="button" class="btn btn-primary m-2">
                    <a href="{% url 'login' %}" class="link">Log In</a>
                </button>
                <button type="button" class="btn btn-primary m-2">
                    <a href="register/student" class="link">Register as a student</a>
                </button>
                <button type="button" class="btn btn-primary m-2">
                    <a href="register/company" class="link">Register as a company</a>
                </button>
            </div>
        {% endif %}
    </div>
{% endblock content %}