{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/details/main.css' %}">
{% endblock stylesheet %}

{% block head_title %}
    Adauga internship
{% endblock head_title %}

{% block content %}
    {% load widget_tweaks %}
    {% if user.is_authenticated and user.is_company %}
        {% if user == company.user %}
            <div class="container">
                <h2 class="title-center">Adauga internship</h2>
            </div>

            <form class="form-container" method="post" action="">
                {% csrf_token %}

                <div class="profile-container company-banner">
                        <div class="img-container">
                            <h4>C</h4>
                        </div>
                </div>
                <div class="details-container">
                    <div class="field-group">
                        <label class="details-title display-info">Domain</label>
                        {% render_field form.domain type="hidden" class="form-input" value=form.domain.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>
                    <div class="field-group">
                        <label class="details-title display-info">Role Name</label>
                        {% render_field form.role_name type="hidden" class="form-input" value=form.role_name.value %}
{#                        <p class="details-content display-info">{{ form.role_name.value }}</p>#}
                    </div>
                    <div class="field-group">
                        <label class="details-title display-info">Description</label>
                        {% render_field form.description type="hidden" class="form-input" value=form.description.value %}
{#                        <p class="details-content display-info">{{ form.description.value }}</p>#}
                    </div>
{#                    <div class="field-group">#}
{#                        <label class="details-title display-info">Duration</label>#}
{#                        {% render_field form.duration type="hidden" class="form-input" value=form.duration.value %}#}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
{#                    </div>#}

                    <div class="field-group">
                        <label class="details-title display-info">Active</label>
                        {% render_field form.active type="hidden" class="form-input" value=form.active.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>

                     <div class="field-group">
                        <label class="details-title display-info">Flexible Hours?</label>
                        {% render_field form.flexible_hours type="hidden" class="form-input" value=form.flexible_hours.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Is remote possible?</label>
                        {% render_field form.remote_possibility type="hidden" class="form-input" value=form.remote_possibility.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>
{##}
{#                    <div class="field-group">#}
{#                        <label class="details-title display-info">Date Expiration</label>#}
{#                        {% render_field form.date_expiration type="hidden" class="form-input" value=form.date_expiration.value %}#}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
{#                    </div>#}

                    <div class="field-group">
                        <label class="details-title display-info">Is letter of intent needed?</label>
                        {% render_field form.letter_of_intent_needed type="hidden" class="form-input" value=form.letter_of_intent_needed.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Date Posted</label>
                        {% render_field form.date_posted type="hidden" class="form-input" value=form.date_posted.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Work Type</label>
                        {% render_field form.type type="hidden" class="form-input" value=form.type.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Salary</label>
                        {% render_field form.salary type="hidden" class="form-input" value=form.salary.value %}
{#                        <p class="details-content display-info">{{ form.duration.value }}</p>#}
                    </div>



                    <input type="submit" name="submit" value="Save" class="submit-btn">
                    <br>
                </div>
            </form>
        {% else %}
            <p>Nu ai acces la aceasta pagina.</p>
        {% endif %}
    {% else %}
        <p>Trebuie sa fii conectact ca si companie pentru a accesa aceasta pagina.</p>
    {% endif %}
{% endblock content %}