{% extends 'base.html' %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/details/main.css' %}">
{% endblock stylesheet %}

{% block head_title %}
    Adauga internship
{% endblock head_title %}

{% block content %}
    {% load widget_tweaks %}
    {% if user.is_authenticated and user.is_company %}
        {% if user == company.user %}
            <div class="container">
                <h2 class="title-center">Adauga internship</h2>
            </div>

            <form class="form-container" method="post" action="">
                {% csrf_token %}

                <div class="profile-container company-banner">
                        <div class="img-container">
                            <h4>C</h4>
                        </div>
                </div>
                <div class="details-container">
                    <div class="field-group">
                        <label class="details-title display-info">Domain</label>
                        {% render_field form.domain class="form-input form-select" value=form.domain.value %}
                    </div>
                    <div class="field-group">
                        <label class="details-title display-info">Role Name</label>
                        {% render_field form.role_name type="text" class="form-input" value=form.role_name.value %}
                    </div>
                    <div class="field-group">
                        <label class="details-title display-info">Description</label>
                        {% render_field form.description type="text" class="form-input" value=form.description.value %}
                    </div>
                    <div class="field-group">
                        <label class="details-title display-info">Duration</label>
                        {% render_field form.duration type="text" class="form-input" value=form.duration.value %}
                    </div>

                     <div class="field-group">
                        <label class="details-title display-info">Flexible Hours?</label>
                        {% render_field form.flexible_hours class="form-input" %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Is remote possible?</label>
                        {% render_field form.remote_possibility class="form-input" %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Is it active?</label>
                        {% render_field form.active class="form-input" %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Date Expiration</label>
                        {% render_field form.date_expiration class="form-input" value=form.date_expiration.value %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Is letter of intent needed?</label>
                        {% render_field form.letter_of_intent_needed class="form-input" %}
                    </div>


                    <div class="field-group">
                        <label class="details-title display-info">Work Type</label>
                        {% render_field form.type class="form-input form-select" value=form.type.value %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Salary</label>
                        {% render_field form.salary class="form-input" value=form.salary.value %}
                    </div>

                    <div class="field-group">
                        <label class="details-title display-info">Locatie</label>
                        {% render_field form.location class="form-input" value=form.location.value %}
                    </div>

                    <input type="submit" name="submit" value="Save" class="submit-btn">
                    <br>
                </div>
            </form>
        {% else %}
            <p>Nu ai acces la aceasta pagina.</p>
        {% endif %}
    {% else %}
        <p>Trebuie sa fii conectact ca si companie pentru a accesa aceasta pagina.</p>
    {% endif %}
{% endblock content %}